/* style rows on mouseover */
.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}
/* shared styles for the ActionColumn icons */
.x-action-col-cell img {
    height: 16px;
    width: 16px;
    cursor: pointer;
}
/* custom icon for the "buy" ActionColumn icon */
.x-action-col-cell img.buy-col {
    background-image: url(../images/accept.png);
}
/* custom icon for the "alert" ActionColumn icon */
.x-action-col-cell img.alert-col {
    background-image: url(../images/error.png);
}

.x-ie6 .x-action-col-cell img.buy-col {
    background-image: url(../images/accept.gif);
}
.x-ie6.x-action-col-cell img.alert-col {
    background-image: url(../images/error.gif);
}

.x-ie6 .x-action-col-cell img {
    position:relative;
    top:-1px;
}