.x-grid-cell-topic b {
	display: block;
}
.x-grid-cell-topic .x-grid-cell-inner {
    white-space: normal;
}
.x-grid-cell-topic a {
    color: #385F95;
    text-decoration: none;
}
.x-grid-cell-topic a:hover {
    text-decoration:underline;
}
.x-grid-cell-topic .x-grid-cell-innerf {
	padding: 5px;
}
.x-grid-rowbody {
	padding: 0 5px 5px 5px;
}